doctype html
html
	head
		title 코피나는 PC방
		style.
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}
			body {
				width: 100vw;
				height: 100vh;
				display: flex;
				flex-flow: column;
			}
			header {
				width: 100vw;
				padding: 1rem;
				background-color: steelblue;
				color: white;
				text-shadow: 1px 1px 1px black;
				text-align: center;
			}
			section.main {
				flex: 1;
				border: 1px solid black;
				margin: 5px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;	
			}
			footer {
				background-color: steelblue;
				color: white;
				text-align: center;
				padding: 0.5rem;
			}
	body
		header.home
			h1 코피나는 PC방 POS
		section.main
			block content
		footer
			address CopyRight &copy; captain1152@naver.com
